#filament_runout_for_orangepipc_settings .iconRight{
	margin-right: -25px;
	margin-top: 3px;
	float: right;
}

#filament_runout_for_orangepipc_settings div.controls div.alert{
	margin-bottom: 0px;
	margin-top: 5px;
}

#filament_runout_for_orangepipc_settings .pulsAlert{
	animation: pulsate 1s ease-out;
    animation-iteration-count: 1;
}

#filament_runout_for_orangepipc_settings_testResult{
	display: block;
	margin-bottom: 10px;
}