@filament_runout_for_orangepipc-on-color: #00FF00;
@filament_runout_for_orangepipc-off-color: #808080;

#filament_indicator {
    &.on i {
        color: @filament_runout_for_orangepipc-on-color; 
    }
    
    &.off i {
        color: @filament_runout_for_orangepipc-off-color; 
    }
}